<input ng-show="false" id="txtName"  type='textarea' placeholder="your full name" ng-model="selectedCuenta" ng-init="selectedCuenta=0" />
<div>
<form name="form1" role="form">
  <div class="text"><h2>Habitaciones disponibles</h2></div>
  <div ui-grid="gridPendientes" ui-grid-selection class="myGrid"></div>
  <div class="clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</form>
</div>
<div>
<form name="form1" role="form">
  <div class="text"><h2>Habitaciones ocupadas</h2></div>
  <div ui-grid="gridOcupados" ui-grid-selection class="myGrid"></div>
  <div class="clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</form>
</div>
