<div class="menu">
    <ul>
      <li ><a href="#/">Home</a></li>
      <li><a href="#/tariff">Tariff</a></li>
      <li><a href="#/services">Services</a></li>
      <li><a href="#/food">Food & Beverage</a></li>
      <li class="active"><a href="#/contact">Contact</a></li>
    </ul>
     <div class="clear"></div>
  </div>
<!--<div id="container">
   <div id="banner">
      <ul class="bjqs">
        <li><img src="images/banner3.jpg" title="Enjoy your travel in La Paz"></li>
        <li><img src="images/banner2.jpg" title="Best place to take a rest"></li>
        <li><img src="images/banner1.jpg" title="Hostal Republica"></li>
      </ul>
   </div>
 </div>-->
 <script>
    $(document).ready(function() {

      $('#banner').bjqs({
        'animation' : 'slide',
        'width' : 920,
        'height' : 450
      });

    });
  </script>
<div class="content">
<div class="contact">
<div class="contact-top">
      <h5>How to find us:</h5>
      <div class="map">
        <iframe width="960" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=restaurants&amp;aq=0&amp;oq=re&amp;sll=27.177991,78.009013&amp;sspn=0.001589,0.00327&amp;ie=UTF8&amp;hq=restaurants&amp;hnear=&amp;t=m&amp;ll=27.178639,78.00729&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=restaurants&amp;aq=0&amp;oq=re&amp;sll=27.177991,78.009013&amp;sspn=0.001589,0.00327&amp;ie=UTF8&amp;hq=restaurants&amp;hnear=&amp;t=m&amp;ll=27.178639,78.00729&amp;spn=0.006295,0.006295" style="color:#5A7AFA;text-align:left">View</a></small>
      </div>
</div>
<div class="contact-bottom">
   <div class="b-box">
          <h1>Contact Us</h1>
          <div class="form">

              <form class="cmxform" id="contactForm" method="post" >
              <div>
                  <span><label for="name">Name</label></span>
                  <span><input type="text" id="name" name="name" /></span>
        <span><label for="email">Email</label></span>
                  <span><input type="text" id="email" name="email" /></span>

      </div>
              <div>
                     <span><label for="subject">Subject</label></span>
                     <span><textarea id="subject" name="Subject" ></textarea></span>
              </div>
               <div>
                 <button class="tsc_c3b_large tsc_c3b_white tsc_button">Submit</button>
              </div>
              </form>
          </div>
        </div>
        <div class="contact-det">
           <h1>Contact Address</h1>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
        <p>Telephone:1-22-5555</p>
        <p>Fax:1-22-5555</p>
        <p>Email: support(at)royalhotel.com</p>
  </div>
   </div>
       <div class="clear"></div>
    </div>
 </div>
</div>
</div>
</div>
