<div class="menu">
  <ul>
    <li ><a href="#/">Home</a></li>
    <li class="active"><a href="#/tariff">Tariff</a></li>
    <li><a href="#/services">Services</a></li>
    <li><a href="#/food">Food & Beverage</a></li>
    <li><a href="#/contact">Contact</a></li>
  </ul>
   <div class="clear"></div>
</div>
       <!--<div id="banner">
            <ul class="bjqs">
              <li><img src="images/banner3.jpg" title="Enjoy your trvel in La Paz"></li>
              <li><img src="images/banner2.jpg" title="Best place to take a rest"></li>
              <li><img src="images/banner1.jpg" title="Hostal Republica"></li>
        </ul>
     </div>
  </div>-->
  
<script>
  $(document).ready(function() {

    $('#banner').bjqs({
      'animation' : 'slide',
      'width' : 920,
      'height' : 450
    });

  });
</script>
<div class="content">

</div>
</div>
</div>
